<?xml version="1.0" encoding="UTF-8"?>
<!-- yangbuyi Copyright (c) https://yby6.com 2023. -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yby6.mapper.TProductMapper">
  <resultMap id="BaseResultMap" type="com.yby6.domain.TProduct">
    <!--@mbg.generated-->
    <!--@Table t_product-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, price, create_time, update_time
  </sql>
</mapper>